.board {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;  
  display: flex;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #f0f0f0;
 margin: 1rem auto;
 width: 50%;
 height: 50vh;
}

.board-row {
  row-gap: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 columns with 100px each */
  grid-template-rows: repeat(3, 100px); /* 3 rows with 100px each */
 row-gap: 0;
 margin: 0 auto;
}

.board-row .square {
  width: 100px;
  height: 100px;
  border-color: aqua;
  color: blue;
  font-weight: bold;
}
